html, body {
    height: 100%;
    width: 100%;
}
header{
    position: relative;
    height: 80%;
    width: 100%;
    text-align: center;
    background: transparent url("http://wearegoingtothemoon.com/img/header-bg.jpg") no-repeat center;
    background-color: #232C39;
    /*background-image: -webkit-linear-gradient(45deg, rgba(0, 216, 255, .5), rgba(0, 255, 127,.5));*/
    background-image:         linear-gradient(45deg, rgba(0, 216, 255, .5), rgba(0, 255, 127,.5));
    background-size: cover;
    background-attachment: fixed;

    padding-top: 10%;
    color: white;
}
header h1{
    margin: 0;
    padding: 0;
}
.version{
    color: rgba(255, 255, 255, .3);
}

.container{
    width: 50%
}
.row{
    margin: 5em auto;
}
.card-title{
    font-size: 3em !important;
    font-weight:100 !important;
    padding: .5em 0;
    text-align: left;
}

.fa{
    display: block;
}

.card-content{
    /*background-color: #232C39;*/
    /*background-image:         linear-gradient(45deg, rgba(0, 216, 255, .5), rgba(0, 255, 127,.5));*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
}

.card-title{
    color: white;
}

.card-title .fa{
    z-index: 1;
    font-size: 2em;
    color: rgba(170, 170, 170, 0.3);
}

.card-title .body{
    z-index: 2;
    position: relative;
    /*background-color: red;*/
    top: -50px;
    left: 0;
}

.card-footer{
    background-color: #ecf0f1 !important;
    text-align: right;
}

.card-footer cite:before{
    content: "\2014 \0020";
}
.card-footer cite{
    font-style: normal;
    font-size: 1em;
}
.card-footer .timestamp{
    padding: 0 1em;
    color: #bdbdbd;
}

.loader {
    color: black;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    opacity: 1;
    animation: pulse 0.4s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    opacity: 0.5;
  }
}

.endOfData {
    margin-top: -60px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
